/*Hover the button in todo*/
.iconbutton{
  transition: all 0.2s !important;
}
.iconbutton:hover{
  background-color: rgb(217, 214, 214) !important;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4) !important;
}


/* Hover Card in todo */
.Todocard{
  transition: all 0.2s  !important;
  border-radius: 5px;
}
.Todocard:hover{
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  box-shadow: 0px 4px 6px rgb(0, 0, 0,0.4);
}